.u-section-1 {
  background-image: url("images/pexels-photo-4525532.jpeg");
  background-position: 50% 50%;
  min-height: 780px;
}

.u-section-1 .u-group-1 {
  min-height: 205px;
  margin: 575px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 100;
  font-size: 3rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 706px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 643px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 582px;
  }

  .u-section-1 .u-group-1 {
    min-height: 187px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 533px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 {
  min-height: 683px;
  background-image: none;
}

.u-section-2 .u-group-1 {
  min-height: 372px;
  width: calc(((100% - 1140px) / 2) + 80px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 980px;
  margin: -328px auto 44px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-1 {
  min-height: 596px;
  background-image: url("images/pexels-photo-4333527.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 596px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 637px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 860px;
    margin-top: -320px;
    margin-bottom: 52px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 568px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 80px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 640px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 423px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 229px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 291px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 430px;
  }
}.u-section-3 {
  background-image: url("images/pexels-photo-2387793.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 9px;
  margin: 60px auto;
  padding: 29px 84px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1051px;
}

.u-section-4 .u-text-1 {
  width: 848px;
  font-weight: 400;
  font-size: 3rem;
  margin: 57px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 394px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 48px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 385px;
  background-image: url("images/pexels-photo-3759078.jpeg");
  background-position: 100% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 385px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 12px 46px 12px 45px;
}

.u-section-4 .u-image-2 {
  min-height: 385px;
  background-image: url("images/dsf.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 385px;
  background-image: url("images/pexels-photo-4466448.jpeg");
  background-position: 50% 68.49%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 385px;
  background-image: url("images/billboards-mockups-scene-3d_15879-628.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 385px;
  background-image: url("images/orange-elegant-corporate-card_1435-1220.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 912px;
  }

  .u-section-4 .u-text-2 {
    width: 512px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 731px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 645px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 284px;
    margin-right: 284px;
  }

  .u-section-4 .u-image-1 {
    min-height: 244px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-4 .u-image-2 {
    min-height: 244px;
  }

  .u-section-4 .u-image-3 {
    min-height: 244px;
  }

  .u-section-4 .u-image-4 {
    min-height: 244px;
  }

  .u-section-4 .u-image-5 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 2439px;
  }

  .u-section-4 .u-text-1 {
    width: 469px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 194px;
    margin-right: 194px;
  }

  .u-section-4 .u-image-1 {
    min-height: 549px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 549px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 549px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 549px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 549px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1627px;
  }

  .u-section-4 .u-text-1 {
    width: 310px;
  }

  .u-section-4 .u-text-2 {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 346px;
  }

  .u-section-4 .u-image-2 {
    min-height: 346px;
  }

  .u-section-4 .u-image-3 {
    min-height: 346px;
  }

  .u-section-4 .u-image-4 {
    min-height: 346px;
  }

  .u-section-4 .u-image-5 {
    min-height: 346px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 590px;
}

.u-section-5 .u-group-1 {
  width: 287px;
  min-height: 81px;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 7px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -39px 7px 13px 83px;
}

.u-section-5 .u-group-2 {
  width: 950px;
  min-height: 219px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 28px 30px 30px;
}

.u-section-5 .u-text-2 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 23px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 718px;
  margin: 32px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 58px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 20px 0 30px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
  margin: 0 0 0 auto;
  padding: 15px 39px 15px 38px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 58px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px 0 20px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 12px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-group-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 23px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 23px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 78px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 55px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 558px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 67px auto 5px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 60px 20px 20px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-left: auto;
  font-size: 3rem;
  margin-right: auto;
  font-weight: 400;
}

.u-section-6 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-form-1 {
  margin: 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: auto;
}

.u-section-6 .u-form-group-2 {
  margin-left: auto;
}

.u-section-6 .u-form-group-3 {
  margin-left: auto;
}

.u-section-6 .u-form-group-4 {
  margin-left: auto;
}

.u-section-6 .u-form-group-5 {
  margin-left: auto;
}

.u-section-6 .u-form-group-6 {
  margin-left: auto;
}

.u-section-6 .u-btn-1 {
  margin-left: auto;
  background-image: none;
  border-style: none;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 168px;
  min-width: 120px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: undefined;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: undefined;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: undefined;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-form-group-1 {
    margin-right: auto;
  }

  .u-section-6 .u-form-group-2 {
    margin-right: auto;
  }

  .u-section-6 .u-form-group-3 {
    margin-right: auto;
  }

  .u-section-6 .u-form-group-4 {
    margin-right: auto;
  }

  .u-section-6 .u-form-group-5 {
    margin-right: auto;
  }

  .u-section-6 .u-form-group-6 {
    margin-right: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-6 .u-form-group-1 {
    width: 100%;
  }

  .u-section-6 .u-form-group-2 {
    width: 100%;
  }

  .u-section-6 .u-form-group-3 {
    width: 100%;
  }

  .u-section-6 .u-form-group-4 {
    width: 100%;
  }

  .u-section-6 .u-form-group-5 {
    width: 100%;
  }

  .u-section-6 .u-form-group-6 {
    width: 100%;
  }
}